.content-holder{
    max-width: 400px;
}
.loginForm{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
}
.loginForm h3{
    width: 100%;
    height: 50px;
    background-color: cadetblue;
    color: white;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: none;
}
.loginForm input{
    width: 300px;
    height: 25px;
    border: 1px solid cadetblue;
    border-radius: 10px;
}
#login-submit-btn{
    background-color: cadetblue;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px;
    color: white;
    height: 35px;
    width: 60px;
}