.toggle-ipr-btn{
    font-size: 16px;
background: black;
color: white;
padding: 10px;
margin-right: 110px;
  }
  .ipr-area{
    display: none;
    width: 100%;
max-width: 1000px;
height: 65vh;
    position: relative;
background-color: white;
border: 2px solid black;

z-index: 10000;
margin: 0 auto;
margin-top: 40px;
}
.ipr-area img{
width: 100%;
height: 100%;
}
body { padding: 0; margin: 0 }
#unity-container { z-index: 9999;
     /* position: absolute;float: left;
margin: 60px 0;  */
}
#unity-container.unity-desktop { 
    /* left: 50%; top: 40%; transform: translate(-50%, -50%) */
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
 #unity-container.unity-mobile { width: 100%; height: 100% } 
#unity-canvas { background: #231F20;
width: 100%;
height: 100%;
}
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }


#unity-footer { 
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.scroll-buttons{
  display: block;
  position: fixed;
  z-index: 12000;
  right: 10px;
}
#move-up-btn{
  top: 40%;
  transform: rotate(180deg);
}
#move-down-btn{
  top: 50%;
}
.unity-mobile #unity-footer { }

#unity-build-title { float: right;
width: 100px;
margin-right: 45px;
line-height: 38px;
font-family: arial;
font-size: 18px;}

#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
  #unity-logo { 
    width: 154px; 
    height: 130px;
   
  }
  #unity-progress-bar-empty {
    width: 141px;
    height: 18px;
    margin-top: 10px;
   
  }
  #unity-progress-bar-full { 
    width: 0%; 
    height: 18px; 
    margin-top: 10px; 
   
  }
  #unity-webgl-logo { 
    float:left; 
    width: 204px; 
    height: 38px; 
   
  }
  #unity-fullscreen-button { 
    float: right; 
    width: 38px; 
    height: 38px; 
    
  }
  .main-container{
    width: 100%;
    float: left;
  }
  .content-container{
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
  }
  .content-lower-division{
width: 100%;
height: 30vh;
margin: 0 auto;
  }
  hr{
    width: 100%;
max-width: 910px;

margin: 0 auto;
margin-top: 30px;
  }
  .content{
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    height: 85%;
  }
  .comment-box{
    width: 100%;
max-width: 910px;
color: black;
margin: 0 auto;
  }
  .old-comments{
    width: 100%;
max-width: 1000px;
margin: 0 auto;
height: 39%;
overflow: scroll;
overflow-x: hidden;
padding-right: 20px;
  }
  .old-comments::-webkit-scrollbar{
    background: cadetblue;
  
  }

     .old-comments::-webkit-scrollbar-thumb {
      background: #005898;


      border-radius: 20px;
}
  #comment{
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
  }
  .comment-buttons{
    width: 80px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    height: 30px;
    float: right;
    padding: 5px;
    font-weight: bold;
    margin-left:10px;
   
  }
  #reject-button:hover{
    background-color: red;
    color: white;
  }
  #accept-button:hover{
    background-color: black;
    color: white;
  }
  .comments{
    font-size: 14px;
    padding: 10px; 
    border-radius: 10px;
    border: none;
    background-color: #005898;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 100%;
    max-width: 910px;
    margin: 0 auto;
    margin-top: 15px;
    
  }
  .comments p{
    display: contents;
position: absolute;
top: -10%;
left: 2%;
  }
#status{
font-size: 18px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#main-footer{
    bottom:0px;
    padding-bottom:20px;
    padding-top: 10px;
    width: 100%;
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.7);
    height: 30px;
    color: white;
    font-family:'Dancing Script', cursive;
    font-size: 30px;
    display: block;
}
@media only screen and (max-width: 768px) {
 #main-footer {
    display: none;
  }
  .main-container{
    width: 100%;
    height: 90vh;
  }
  .ipr-area{
    position: absolute;
    margin-top: 0px;
    top: 0;
    height: 90vh;
  }

}
