<!DOCTYPE html>
{% load static %}
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Case Viewer</title>
    <link rel="shortcut icon" href="{% static 'media/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
  
    <!-- jQuery code to show the working of this method -->
    <script>
      window.addEventListener("load",function() {
    setTimeout(function(){
        // Hide the address bar:
        window.scrollTo(0, 1);
    }, 0);
});
     $(document).ready(function() {
            $("#move-down-btn").click(function() {
                $("html, body").animate({
                    scrollTop: $(
                      'html, body').get(0).scrollHeight
                }, 2000);
            });
            $("#move-up-btn").click(function(){
              $("html, body").animate({
                    scrollTop:"0"
            });
          });
          $("#review-btn").click(function(){
            $(".overlay").css("display", "block");
            $(".content-lower-division").css("display", "block");
          });
          $("#cancel-comment-btn").click(function(){
            $(".overlay").css("display", "none");
            $(".content-lower-division").css("display", "none");
          });
        });
    </script>
  </head>
  <body>
  <style>
    /* Only for static elements */
    #unity-logo{
      background: url("{% static 'media/unity-logo-dark.png' %}") no-repeat center; 
    }
    #unity-fullscreen-button{
      background: url("{% static 'media/fullscreen-button.png' %}") no-repeat center;
    }
    #unity-progress-bar-empty {
    background: url("{% static 'media/progress-bar-empty-dark.png' %}") no-repeat center; 
  }
  #unity-progress-bar-full { 
    background: url("{% static 'media/progress-bar-full-dark.png'  %}") no-repeat center; 
  }
  #unity-webgl-logo { 
    background: url("{% static 'media/webgl-logo.png' %}") no-repeat center; 
  }
    footer{
      display: block;
    }
  </style>
    <div class="main-container">
      <div class="overlay">

      </div>
      {% include 'add-index.html' %}
      <button id="move-down-btn" class="scroll-buttons">
        <img src="{% static 'media/down.png' %}" width="25px" height="25px">
      </button>
      <button id="move-up-btn" class="scroll-buttons">
        <img src="{% static 'media/down.png' %}" width="25px" height="25px">
      </button>
     
    <div id="unity-container" class="unity-desktop">
      <canvas id="unity-canvas" width=960 height=600></canvas>
      <div id="unity-loading-bar">
        <div style="display: none;" id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
          <div id="unity-progress-bar-full"></div>
        </div>
      </div>
      <div id="unity-warning"> </div>
      <div id="unity-footer">
        {% if model.case_status == "P" %}
        <div id="status" style="color: orange;">Status: {{model.get_case_status_display|safe}}</div>
        {% elif model.case_status == 'A' %}
        <div id="status" style="color: #5ab95a;">Status: {{model.get_case_status_display|safe}}</div>
        {% elif model.case_status == 'R' %}
        <div id="status" style="color: white;">Status: {{model.get_case_status_display|safe}}</div>
        {% endif %}
        
        <div id="unity-fullscreen-button"><div id="unity-build-title">v5.9 by zbz</div></div>
        
      </div>
    </div>
    <script>
      let iprArea = document.getElementById("ipr_handle");
      const iprToggle = document.getElementById("show-btn");

      function toggle_ipr(){
        console.log("Clicked!")
        if(window.getComputedStyle(document.getElementsByClassName("ipr-area")[0]).display == "none"){
          iprArea.style.display = "block";
          iprToggle.innerText = "Hide IPR";
        }else{
          iprArea.style.display = "none";
          iprToggle.innerText = "Show IPR";
          
        }
      }
    </script>
    <hr style="color: white;width:100%; margin: 10px auto;">
    <button id="review-btn"><img src="{% static 'media/pencil_icon.png' %}" width="25px" height="25px" style="float :left"><p  style="float: right; margin-top: 6px;font-size: 16px;">Review Case</p></button>
    <div class="content-lower-division">
    
      <div class="content">
        <div class="comment-box">
          <form id="comment-form" action="" method="post">
            {% csrf_token %}
          <input  id="comment" name="comment" placeholder="Comment...">
      
          <button type="submit" id="reject-button" name = "reject-case" class="comment-buttons">Reject</button>
          <button type="submit" id="accept-button" name="accept-case" class="comment-buttons">Accept</button>
        </form>
        </div>
        <br><hr><br>
        <div class="old-comments">
          {% if comments %}
          {% for comment in comments %}
          <div class="comments">
            <p class="comment-content">{{comment.content}}</p>
            <p class="comment-by">{{comment.user.username}}</p>
            <p class="comment-date">{{comment.date_created}}</p>
            <br>
          </div>
          <hr style="margin-top: 0;">
          {% endfor %}
          {% else %}
          <div class="comments" >
            <p>Be the first to comment.</p>
            <br>
          </div>
          
          {% endif %}
        <div>
      </div>
    </div>
    <button id="cancel-comment-btn">Cancel</button>
 
  </div>
  <div>

  </div>
  <div id="main-footer">
    Made by zaid
  </div>
    <script>
      var container = document.querySelector("#unity-container");
      var canvas = document.querySelector("#unity-canvas");
      var loadingBar = document.querySelector("#unity-loading-bar");
      var progressBarFull = document.querySelector("#unity-progress-bar-full");
      var fullscreenButton = document.querySelector("#unity-fullscreen-button");
      var warningBanner = document.querySelector("#unity-warning");

      // Shows a temporary message banner/ribbon for a few seconds, or
      // a permanent error message on top of the canvas if type=='error'.
      // If type=='warning', a yellow highlight color is used.
      // Modify or remove this function to customize the visually presented
      // way that non-critical warnings and error messages are presented to the
      // user.
      function unityShowBanner(msg, type) {
        function updateBannerVisibility() {
          warningBanner.style.display = warningBanner.children.length ? 'block' : 'none';
        }
        var div = document.createElement('div');
        div.innerHTML = msg;
        warningBanner.appendChild(div);
        if (type == 'error') div.style = 'background: red; padding: 10px;';
        else {
          if (type == 'warning') div.style = 'background: yellow; padding: 10px;';
          setTimeout(function() {
            warningBanner.removeChild(div);
            updateBannerVisibility();
          }, 5000);
        }
        updateBannerVisibility();
      }

    var buildUrl = "Build";
      var loaderUrl = "{% static 'JS/build_59C.loader.js' %}";
      var config = {
        dataUrl: "{% static 'JS/build_59C.data.unityweb' %}",
        frameworkUrl: "{% static 'JS/build_59C.framework.js.unityweb' %}",
        codeUrl: "{% static 'JS/build_59C.wasm.unityweb' %}",
        streamingAssetsUrl: "StreamingAssets",
        companyName: "DefaultCompany",
        productName: "Teetho",
        productVersion: "0.1",
        showBanner: unityShowBanner,
      };

      // By default Unity keeps WebGL canvas render target size matched with
      // the DOM size of the canvas element (scaled by window.devicePixelRatio)
      // Set this to false if you want to decouple this synchronization from
      // happening inside the engine, and you would instead like to size up
      // the canvas DOM size and WebGL render target sizes yourself.
      // config.matchWebGLToCanvasSize = false;

      if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
        container.className = "unity-mobile";
        // Avoid draining fillrate performance on mobile devices,
        // and default/override low DPI mode on mobile browsers.
        config.devicePixelRatio = 1;
        unityShowBanner('Might take some time to load.');
      } else {
        canvas.style.width = "960px";
        canvas.style.height = "600px";
      }
      loadingBar.style.display = "block";

      var script = document.createElement("script");
      script.src = loaderUrl;
      script.onload = () => {
        createUnityInstance(canvas, config, (progress) => {
          progressBarFull.style.width = 100 * progress + "%";
        }).then((unityInstance) => {
          loadingBar.style.display = "none";
          fullscreenButton.onclick = () => {
            unityInstance.SetFullscreen(1);
          };
        }).catch((message) => {
          alert(message);
        });
      };
      document.body.appendChild(script);
    </script>
    <script>
      screen.orientation.lock('landscape');
    </script>
  </body>
</html>
