{% load static %}
<style>
    .main-header{
        background-image: url("{% static 'media/headerbg.jpg'%}");
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    body {
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url("{% static 'media/blue-bg.jpg'%}");
    background-size: 100%;
    }
</style>
<div class="main-header">
    <h3 style="margin-left: 20px;">OzzySmile</h3>
    <h3 style="margin-right: 20px;">{{request.user.username}}</h3>
</div>