<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/base.css'%}" class="css">
    {% block css_links %}{% endblock %}
    <title>{% block page_title %}{% endblock %}</title>
</head>
<style>
    header{
        background-image: url("{% static 'media/headerbg.jpg'%}");
    }
    footer{
        display: none;
        position: absolute;
        bottom: 0;
    }
</style>
<body>
    <header>
        <div id="logo1">UnityPlus</div>
        <div class="myButtons auth-buttons">
            {% if request.user.is_authenticated %}
            <button>{{request.user.username}}</button>
            <a href="{% url 'LogoutPage'%}"><button>Logout</button></a>
            {% else %}
            <a href="{% url 'LoginPage' %}"><button>Login</button></a>
            <a href="{% url 'RegisterPage' %}"><button>Sign Up</button></a>
            {% endif %}
        </div>
       </header>
    <div class="container">
    {% block body %}
    {% endblock %}
    </div>
    <footer>
        <h6>Made by zaid</h6>
    </footer>
</body>
</html>